<div class="d-flex justify-content-center">
    <h1 class="text-white-50 text-capitalize text-center">cursos</h1>
</div>
<div class="container-sm">
  <button id="boton" type="button" class="w-25 btn btn-secondary bg-dark btn-sm" data-toggle="modal" data-target="#exampleModalCenter1" 
  *ngFor="let item of cursos;let indice = index" (click)="click(indice)">
      <h3 class="text-capitalize text-white-50 float-left mx-2">
                <i class="fas fa-check text-success font-smaller"></i>
                {{item.curso}}
      </h3>
  </button>
</div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content bg-dark text-white-50">
        <div class="modal-header">
          <h5 class="modal-title text-warning text-capitalize" id="titulo"></h5>
        </div>
        <div class="modal-body mx-4" id="body"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>