h1{
    font-family: 'Nunito';
    font-weight: bold;
    /* font-style: italic; */
}

.list-group{
    border:none !important
}

.list-group-item:hover{
    background-color: darkgrey !important;
}

.modal-body{
    border: none;
}

.modal-header{
    border: none;
}
.modal-footer{
    border: none;
}