h4, h2{
    font-weight: bold;
    font-family: 'Titillium Web';
}

h6{
    margin: 0;
}

.modal-body{
    border: none;
}

.modal-header{
    border: none;
}
.modal-footer{
    border: none;
}

.btn{
    box-shadow: 4px 4px 4px black;
    margin: 1vh;
    border: none !important;
    width: 27%;
}

@media screen and (min-width: 376px ) and (max-width: 425px){

    .btn{
        width: 80% !important;
        margin: 2vw;
    }
}

@media screen and (min-width: 321px) and (max-width: 375px)
{
    .btn{
        width: 70% !important;
        margin: 2vw;
    }
}

@media screen and (max-width: 320px){

    .btn{
        width: 70% !important;
        margin: 2vw;
    }
}