<div class="container">
  <div class="lista">
    <div class="contenedor">
      <span class="display-4 text-white-50 my-3 text-capitalize text-center">
        mis cursos
      </span>                
      <button data-toggle="collapse" href="#collapseExample6" role="button" aria-expanded="false" aria-controls="collapseExample6" id="button-titulo">
        <i class="fas fa-angle-down text-white-50" id="icon-btn-titulo"></i>
      </button>
    </div>
  </div>
</div>

<div class="collapse" id="collapseExample6">  
  <div class="container text-center" *ngFor="let item of cursos;let indice = index">
    <div class="lista">
      <div class="contenedor1">
        <span class="display-4 text-white-50 my-3 text-capitalize">
          <i class="far fa-hand-point-right mr-2"></i>{{item.curso}}
        </span>                
        <button class="btn btn-dark" data-toggle="modal" data-target=".bd-example-modal-sm" (click)="click(indice)">
          <i class="far fa-window-restore text-white-50" id="icon-btn"></i>
        </button>
      </div>
    </div>
  </div>
</div>

  <!-- Modal -->
  <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content bg-dark text-white-50">
        <div class="modal-header">
          <div id="foto"></div>
          <h2 class="modal-title text-warning text-capitalize text-center" id="titulo"></h2>
        </div>
        <div class="modal-body" id="body"></div>
        <div class="modal-footer justify-content-between" id="footer"></div>
      </div>
    </div>
  </div>