<div class="container-sm">
    <h4 class="text-white-50 text-capitalize text-center m-0">
      <i class="far fa-hand-point- fa-hand-point-right"></i> cursos
    </h4>
</div>
<div class="container-sm text-center pb-2">
  <button id="boton" type="button" class="w-1 btn btn-secondary bg-dark m-3 py-3 px-3" data-toggle="modal" data-target="#exampleModalCenter1" 
  *ngFor="let item of cursos;let indice = index" (click)="click(indice)">
      <h5 class="text-capitalize text-white-50 text-center">
                <i class="fas fa-check text-success font-smaller"></i>
                {{item.curso}}
      </h5>
  </button>
</div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content bg-dark text-white-50">
        <div class="modal-header">
          <h5 class="modal-title text-warning text-capitalize" id="titulo"></h5>
        </div>
        <div class="modal-body mx-2" id="body"></div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>