.card{
    border: none;
    box-shadow: 5px 5px 7px black;
    -moz-box-shadow: 5px 5px 7px black;
    -webkit-box-shadow: 5px 5px 7px black;
}

@media screen and (max-width: 375px){

    .card{  text-align: center; }
}