.container-sm{
    display: flex;
    justify-content: center;
    background-color: #3f4850;
    margin-top: 15px;
    border-radius: 10px;
    padding-bottom: 15px;
}

h3{
    font-family: 'Titillium Web';
    float: left;
    background-color: orangered;
    font-weight: bold;
    position: relative;
    margin: 0;
    padding: 1vh;
    padding-left: 1.5em;
}

a{
    font-family: 'Titillium Web';
    margin-left: 4em;
    text-decoration: none;
    display:block;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'Titillium Web';
}

.punta{

    width: 0px;
    height: 0px;
    line-height: 0px;
    border-left: 48px solid transparent;
    border-top: 48px solid orangered;
    position: absolute;
    left: 86%;
    top: 0%;
    transform: rotate(45deg);
}

.cola{

    width: 0px;
    height: 0px;
    line-height: 0px;
    border-left: 34px solid transparent;
    border-top: 34px solid #3f4850;
    position: absolute;
    left: -8%;
    top: 16%;
    transform: rotate(45deg);

}

@media screen and (min-width: 375px ) and (max-width: 425px){
 
    h5{
        margin: 0;
    }

    .container-sm{
        overflow: hidden;
        display: block;
        text-align: center;
        margin-top: 15px;
        padding: 24px 15px !important;
        padding-top: 24px !important;
    }

    .punta{
        left: 100%;
        top: 97%;
        transform: rotate(135deg);
    }
    
    a{
        margin: 0;
        margin-top: 4rem;
    }
    
    .curva{
        width: 0px;
        height: 0px;
        line-height: 0px;
        border-left: 48px solid orangered;
        border-top: 70px solid orangered;
        position: absolute;
        left: 100%;
        top: 0%;
        border-radius: 0px 30px 0px 0px;
    }
}

@media screen and (max-width: 375px){    

    h5{
        margin: 0;
    }

    .container-sm{
        overflow: hidden;
        display: block;
        text-align: center;
        margin-top: 15px;
        padding: 24px 15px !important;
        padding-top: 24px !important;
    }

    .punta{
        left: 100%;
        top: 97%;
        transform: rotate(135deg);
    }
    
    a{
        margin: 0;
        margin-top: 4rem;
    }
    
    .curva{
        width: 0px;
        height: 0px;
        line-height: 0px;
        border-left: 48px solid orangered;
        border-top: 70px solid orangered;
        position: absolute;
        left: 100%;
        top: 0%;
        border-radius: 0px 30px 0px 0px;
    }
}