.card{
    text-align: center;
}

.card-body{
    padding: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

progress {
    max-width: 90%;
    text-align: center;
}

@media screen and (max-width: 375px){
    .card{  text-align: center; }
}