.fondo{
    background: url(../../assets/escritorio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.filtro{
    background: rgba(47, 47, 47, 0.7);
    height: 14rem;
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
    display:block;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'Space Mono';
    font-size: small
}
/* alinear iconos a:link en una lista */