<div class="fondo">
    <div class="filtro">
        <div class="container-fluid">
            <div class="text-center">
                <a class="text-white-50 text-capitalize font-weight-bold" style="font-size: 24px;">
                    <i class="far fa-hand-point-right mr-2"></i> contacto
                </a>
                <br>
                <!-- <a target="_blank" href="https://www.instagram.com/ezequiel__ceballos/" class="text-danger mr-2">
                    <i class="fab fa-instagram mr-2 my-1" style="color: brown; font-size: 1.5rem;"></i>
                    /ezequiel__ceballos
                </a> -->
                <a target="_blank" href="https://gmail.com/estebanezequielceballos@gmail.com" class="text-white-50">
                    <i class="far fa-envelope mr-2 my-1" style="font-size: 1.5rem;"></i>
                    estebanezequielceballos@gmail.com
                </a>
            </div>
        </div>
    </div>
</div>