<div class="fondo">
    <div class="filtro">
        <div class="container-fluid bg-dark">
            <div class="text-center">
                <a class="text-white-50 text-capitalize mr-4 font-weight-bold" style="font-size: xx-large;">contacto</a><br>
                <a target="_blank" href="https://www.instagram.com/ezequiel__ceballos/" class="text-danger">
                    <i class="fab fa-instagram mr-2 my-1" style="color: brown; font-size: 1.5rem;"></i>
                    /ezequiel__ceballos
                </a>
                <a target="_blank" href="https://www.facebook.com/e2equ1e1ceballos" class="text-info mx-3">
                    <i class="fab fa-facebook-square mr-2 my-1" style="font-size: 1.5rem;"></i>
                    /e2equ1e1ceballos
                </a>
                <a target="_blank" href="https://gmail.com/estebanezequielceballos@gmail.com" class="text-white-50">
                    <i class="far fa-envelope mr-2 my-1" style="font-size: 1.5rem;"></i>
                    estebanezequielceballos@gmail.com
                </a>
            </div>
        </div>
    </div>
</div>