.fondo{
    background: url(../../assets/escritorio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.filtro{
    background: #2f2f2f99;
    height: 15rem;
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
    display:block;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'Titillium Web';
    font-size: small
}
/* alinear iconos a:link en una lista */

.container-fluid{
    background-color: #1d2023;
}

@media screen and (max-width: 375px){

    a{
        margin: 0 !important;
    }
}