.container-fluid{
    background-color:#888f86;
}

.container{
    height: 6rem;
}

@media screen and (min-width: 350px) and (max-width: 700px){
    .container{
        height: 3.5rem;
    }
}

@media screen and (max-width: 350px){

    .container{
        height: 6rem;
    }
}
