<div class="container">
    <section id="main">
        <section id="seccion">
            <h4 class="text-warning my-3" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"><span><i class="m-2 fas fa-code"></i></span>Frontend</h4>
                <div class="collapse" id="collapseExample">
                    <app-frontend></app-frontend>
                </div>
            <h4 class="text-warning my-3" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample"><span><i class="m-2 fas fa-code"></i></span>Backend</h4>
                <div class="collapse" id="collapseExample1">
                    <app-backend></app-backend>
                </div>
            <h4 class="text-warning my-3" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample"><span><i class="m-2 fas fa-cogs"></i></span>Frameworks Frontend</h4>
                <div class="collapse" id="collapseExample2">
                    <app-frameworks></app-frameworks>
                </div>
            <h4 class="text-warning my-3" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample"><span><i class="m-2 fas fa-database"></i></span>Base de Datos</h4>
                <div class="collapse" id="collapseExample3">
                    <app-database></app-database>
                </div>
            <h4 class="text-warning my-3" data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample"><span><i class="m-2 fas fa-laptop-code"></i></span>SO</h4>
                <div class="collapse" id="collapseExample4">
                    <app-os></app-os>
                </div>
            <h4 class="text-warning my-3" data-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample"><span><i class="m-2 fas fa-code-branch"></i></span>Control de Versiones</h4>
                <div class="collapse" id="collapseExample5">
                    <app-control-versiones></app-control-versiones>
                </div>
        </section>
        <aside class="text-white text-justify">
            <h4 class="text-white-50 text-center text-capitalize">perfil</h4>
            <small>
                Hola mi nombre Ezequiel Ceballos, soy Desarrollador Web. desde hace un año me dedico al diseño y programacion frontend especificamente para proyectos independientes, eligiendo antetodo la excelencia y la innovacion para una mejor experiencia de usuario. 
                <br></small>
           
            <h4 class="text-white-50 text-center text-capitalize">datos</h4>

            <address class="text-capitalize">nacimiento</address>
            <small><a href=""></a></small>
            <small><a href=""></a></small>
            <small><a href=""></a></small>
        </aside>
    </section>    
</div>