<div class="container">
    <div class="row row-cols-2">
        <div class="col-9">
                <div class="d-flex justify-content-center mt-4">
                    <h1 class="display-4 text-capitalize text-white-50 mb-0 pb-0">habilidades</h1>
                    <p class="text-white-50 text-capitalize">hard</p>
                </div>
                <br>
                <h5 class="text-dark mt-3 mb-0 p-2 pr-4" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"><span><i class="m-2 fas fa-code"></i></span>Frontend</h5>
                <hr class="bg-warning m-0 p-0">
                    <div class="collapse" id="collapseExample">
                        <br>
                        <app-frontend></app-frontend>
                    </div>
                <h5 class="text-dark mt-3 mb-0 p-2 pr-4" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample"><span><i class="m-2 fas fa-code"></i></span>Backend</h5>
                <hr class="bg-warning m-0 p-0">
                    <div class="collapse" id="collapseExample1">
                        <br>
                        <app-backend></app-backend>
                    </div>
                <h5 class="text-dark mt-3 mb-0 p-2 pr-4" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample"><span><i class="m-2 fas fa-cogs"></i></span>Frameworks</h5>
                <hr class="bg-warning m-0 p-0">
                    <div class="collapse" id="collapseExample2">
                        <br>
                        <app-frameworks></app-frameworks>
                    </div>
                <h5 class="text-dark mt-3 mb-0 p-2 pr-4" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample"><span><i class="m-2 fas fa-database"></i></span>Base de Datos</h5>
                <hr class="bg-warning m-0 p-0">
                    <div class="collapse" id="collapseExample3">
                        <br>
                        <app-database></app-database>
                    </div>
                <h5 class="text-dark mt-3 mb-0 p-2 pr-4" data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample"><span><i class="m-2 fas fa-laptop-code"></i></span>S. Operativos</h5>
                <hr class="bg-warning m-0 p-0">
                    <div class="collapse" id="collapseExample4">
                        <br>
                        <app-os></app-os>
                    </div>
                <h5 class="text-dark mt-3 mb-0 p-2 pr-4" data-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample"><span><i class="m-2 fas fa-code-branch"></i></span>C. de Versiones</h5>
                <hr class="bg-warning m-0 p-0">
                    <div class="collapse" id="collapseExample5">
                        <br>
                        <app-control-versiones></app-control-versiones>
                    </div>
        </div>
        <div class="col-3">
            <app-aside></app-aside>
        </div>
    </div>
    
    <section id="main">
        
        <aside>
            
        </aside>
    </section>    
</div>