.card{
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-right: 5rem;
    margin-left: 5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0px;
    border: none;
    box-shadow: 0px 7px 12px rgb(0, 0, 0);
    -moz-box-shadow: 0px 7px 12px rgb(0, 0, 0);
    -webkit-box-shadow: 0px 7px 12px rgb(0, 0, 0);
}

h6{
    color: darkorange;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1{  font-family: 'Roboto', sans-serif; }

.container-fluid { 
    background-color:#888f86;
    padding-right:0;
    margin-right:0;  
}

.container{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0;
    padding-bottom: 0;
}

.row{
    padding-right:0;
    margin-right:0;  
    
}

.etiqueta{
    color: rgba(42, 3, 94, 0.486);
    font-weight: bold;
    text-transform: capitalize;
    display: inline-block;
    background: rgb(0, 195, 255);
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
    margin-left: -48px;
    position: relative;
    width: auto;
    box-shadow: 1px 1px 6px rgb(65, 65, 65);
    -moz-box-shadow: 1px 1px 6px rgb(65, 65, 65);
    -webkit-box-shadow: 1px 1px 6px rgb(65, 65, 65);
    transform: rotate(-6deg);
    transform-origin: bottom left;

}

.forma{
    width: 0px;
    height: 0px;
    line-height: 0px;
    border-left: 26px solid transparent;
    border-top: 8px solid rgb(0, 90, 143);
    position: absolute;
    top: 100%;
    left: 0px;
}

img{
    height: 3rem;
    padding: 0.3vw;
    max-width: 30%;
    margin-right: 5px;
}

table{
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
}

progress{
    height: 15px;
    text-align: center;
    max-width: 50%;
}

h6 { font-size: 15px;}

@media screen and (min-width: 700px) and (max-width: 1000px){
    .card{
        margin-top: 1rem;
        margin-bottom: 2rem;
        padding-top: 0.5rem;
        margin-right: 3rem;
        margin-left: 3rem;
    }

    .etiqueta{
        font-size: 18px;
        padding: 0.5rem 1.2rem;
        transform: rotate(-10deg);
        transform-origin: bottom left;
    }

    img{
        height: auto;
        max-width: 20%;
    }   

    h6{  font-size: 10px;  }
}

@media screen and (min-width: 500px) and (max-width: 700px){
    .card{
        margin-top: 1rem;
        margin-bottom: 2rem;
        padding-top: 0.5rem;
        margin-right: 3rem;
        margin-left: 3rem;
    }

    img{
        height: auto;
        max-width: 20%;
    }   

    .etiqueta{
        font-size: 15px;
        padding: 0.5rem 1.2rem;
        transform: rotate(-10deg);
        transform-origin: bottom left;
    }

    h6{   font-size: 12px;  }
}

@media screen and (max-width: 500px){
    .card{
        margin-top: 1rem;
        margin-bottom: 2rem;
        padding-top: 0.5rem;
        margin-right: 2rem;
        margin-left: 2rem;
    }

    img{
        height: auto;
        max-width: 20%;
        margin-right: 5px;
    }   

    .etiqueta{
        font-size: 12px;
        padding: 0.5rem 1.2rem;
        margin-bottom: 0;
        transform: rotate(-10deg);
        transform-origin: bottom left;
    }

    p{  font-size: 12px;  }

    progress{  height: 10px; max-width: 30%;  }

    h6{ font-size: 9px; }

    span{ font-size: 10px; }
}