.container{
    padding: 0;
    margin-top: 14px;
}

h4{
    font-weight: bold;
    font-family: 'Titillium Web';
}

.collapse{
    margin: 0px !important;
    padding: 0px !important;
}

.main{
    display: flex;
    padding: 0;
}

.section{
    height: 100%;
    width: 100%;
    float: left;
    background-color: #3f4850;
    padding: 14px;
    border-radius: 10px;
}

.aside{
    width: 50%;    
    margin-left: 15px;
}

.container-sm{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-group{
    border-radius: 10px;
}

#icon-text{
    font-size: auto;
}

button{
    width: 50px;
    height: 50px;
    border-radius: 250px;
    border: 3px solid #3f4850;
}

#icon-btn{
    font-size: xx-large;
    vertical-align: middle;
    color: #3f4850 !important;
}

span{
    display: inline-flex;
    font-size: 20px;
    font-weight: bold;
}

@media screen and (min-width: 376px ) and (max-width: 425px) {

    .main{
        width: 100%;
        display: block;
    }

    .section{
        overflow: hidden;
        width:    100%;
        margin-bottom: 2rem;
    }

    .aside{
        margin: 0;
        padding: 0 !important;
        width: 100%;
    }

    span{
        font-size: 16px;
    }
}

@media screen and (max-width: 375px)
{
    .container{ padding: 0 !important;}

    .main{
        display: block;
    }

    .section{
        overflow: hidden;
        width:    100%;
        margin-bottom: 2rem;
    }

    .aside{
        margin: 0;
        padding: 0 !important;
        width: 100%;
    }

    span{
        font-size: 16px;
    }
}