<div class="container-fluid">
    <div class="row">   
    <div class="card">
        <ul class="list-group">
            <li class="list-group-item border-white">
                <h1 class="etiqueta">Conocimientos Tecnicos<span class="forma"></span></h1>
            </li>
        </ul>        
        <div class="row row-cols-3 mx-5 mb-5">
            <div class="col text-center">
                <h2>
                    <span class="" style="font-size:0.70em;position: relative; bottom: 80%; left: 0%;"><i class="fas fa-code"></i></span> Front-End 
                </h2>
                <img src="../../assets/html.png" height="40rem" alt="">
                <progress max="100" value="80"></progress>
                <br>
                <img src="../../assets/css.png" height="40rem" alt="">
                <progress max="100" value="55"></progress>
                <br>
                <img src="../../assets/js.png" height="40rem" alt="">
                <progress max="100" value="45"></progress>
                <br>
                <img src="../../assets/JQuery.png" height="40rem" alt="">
                <progress max="100" value="55"></progress>
                <br>
                <img src="../../assets/ts.png" height="40rem" alt="">
                <progress max="100" value="38"></progress>
            </div>
            <div class="col text-center">
                <h2>
                    <span style="font-size:0.70em;position: relative; bottom: 85%; left: 0%;"><i class="fas fa-cogs"></i></span> Frameworks
                </h2>
                <img src="../../assets/angular.png" height="40rem" alt="">
                <progress max="100" value="60"></progress>
                <br>
                <img src="../../assets/bootstrap.png" height="40rem" alt="">
                <progress max="100" value="85"></progress>
                <br>
                <img src="../../assets/font awesome.jpg" height="40rem" alt="">
                <progress max="100" value="80"></progress>
                <br>
                <img src="../../assets/materialize.png" height="40rem" alt="">
                <progress max="100" value="50"></progress>
            </div>
            <div class="col text-center">
                <h2>
                    <span style="font-size:0.70em;position: relative; bottom: 75%; left: 0%;"><i class="fas fa-code"></i></span> Back-End
                </h2>
                <img src="../../assets/nodejs.png" height="40rem" alt="">
                <progress max="100" value="22"></progress>
                <br>
                <img src="../../assets/php.png" height="40rem" alt="">
                <progress max="100" value="30"></progress>
                <br>
                <img src="../../assets/python.png" height="40rem" alt="">
                <progress max="100" value="38"></progress>
            </div>
            <div class="col text-center">
                <h2>
                    <span style="font-size:0.70em;position: relative; bottom: 75%; left: 02%;"><i class="fas fa-laptop-code"></i></span> OS
                </h2>
            </div>
            <div class="col text-center">
                <h2>
                    <span style="font-size:0.70em;position: relative; bottom: 65%; left: 0%;"><i class="fas fa-database"></i></span>
                    Base de Datos
                </h2>
                <img src="../../assets/firebase.png" height="40rem" alt="">
                <progress max="100" value="40"></progress>
                <br>
                <img src="../../assets/mysql.png" height="40rem" alt="">
                <progress max="100" value="50"></progress>
            </div>
            <div class="col text-center">
                <h2>
                    <span style="font-size:0.70em;position: relative; bottom: 65%; left: 01%;"><i class="fas fa-code-branch"></i></span>
                    C. Versiones
                </h2>
                <img src="../../assets/git.png" height="40rem" alt="">
                <progress max="100" value="40"></progress>
                <br>
                <img src="../../assets/github.png" height="40rem" alt="">
                <progress max="100" value="50"></progress>
            </div>        
        </div>
    </div>
</div> 
</div>