.cards{
    background-color: white;
    color: #013333;
    margin-top: 0;
    margin-bottom: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 3rem;
    margin-right: 7rem;
    margin-left: 7rem;
    border-radius: 0px;
}

h2{
    font-family: fantasy;
}

.container-fluid{
    background-color:#2C3E50;
}

.etiqueta{
    color: #fff;
    background: #33C4FF;
    padding: 0.5rem 2.5rem;
    margin-top: 0.6em;
    font-size: 25px;
    margin-left: -26px;
    position: relative;
    width: 44%;
    box-shadow: 0px 7px 12px #2C3E50;
    -moz-box-shadow: 0px 7px 12px #2C3E50;
    -webkit-box-shadow: 0px 7px 12px #2C3E50;
}

.forma{
    width: 0px;
    height: 0px;
    line-height: 0px;
    border-color: black;
    border-left: 26px solid transparent;
    border-top: 17px solid rgb(0, 93, 146);
    position: absolute;
    top: 100%;
    left: 0px;
}

img{
    margin-right: 0.8rem;
    margin-top: 0.8rem;
}

