.container-fluid{
    
    padding-right: 110px;
    padding-left: 110px;
    background-color: #1d2023;
}

@media screen and (max-width: 425px)
{
    .container-fluid{
        margin: 0;
        padding: 0;
    }
}
