<div class="container">
  <h5 class="etiqueta text-dark">Formacion Academica<span class="forma"></span></h5>
  <div class="card-columns">
    <div class="card mt-5 bg-dark text-white" style="max-width: 540px;" *ngFor='let item of estudios'>
      <img src="{{item.foto}}" class="img-fluid" height="auto" width="355em" alt="">
          <div class="card-body">
            <p class="card-text text-justify">{{item.contenido}}</p>
            <p class="card-text text-muted pt-4 float-right">{{item.fecha}}</p>
          </div>
    </div>
  </div>
</div>
