*{
    font-family: 'Titillium Web';
}

.container{
    position: relative;
}

.etiqueta{
    font-weight: bold;
    text-transform: capitalize;
    background: tomato;
    padding: 0.2em 1.5em 0.2em 0.9em;
    margin-left: -15px;
    position: absolute;
    top: 11%;
    left: 0;
    z-index: 1;
}

.forma{
    width: 0px;
    height: 0px;
    line-height: 0px;
    border-left: 35px solid white;
    border-top: 35px solid transparent;
    position: absolute;
    top: 0%;
    left: 96%;
    transform: rotate(45deg);
}

.forma1{
    width: 0px;
    height: 0px;
    line-height: 0px;
    border-left: 30px solid transparent;
    border-top: 15px solid #b41b00;
    position: absolute;
    top: 100%;
    left: 0;
}


.card{
    border: none;
    /* transform: scale(1,1);
    transition-timing-function: ease-out;
    transition-duration: 250ms; */
    /* box-shadow: 5px 5px 8px black;
    -moz-box-shadow: 5px 5px 8px black;
    -webkit-box-shadow: 5px 5px 8px black; */
}

h4{
    font-weight: bold;
    margin: 0;
}

.card-body{
    padding: 10px !important;
}

@media screen and (min-width: 376px ) and (max-width: 425px){

    .card{
        text-align: center;
        display: block;
    }

    img{
        width: 90%;
    }   

    .etiqueta{
        font-size: 22px;
        margin-left: 5px;
        top: 0.6%;
    }

    .forma{
        top: 6%;
    }

    h4{
        font-size: 25px !important;
    }
}

@media screen and (max-width: 375px){    
    
    h4{

        font-size: 20px !important;
    }

    img{
        width: 97%;
    }   

    .etiqueta{
        font-size: 22px;
        margin-left: 2px;
        top: 0.6%;
    }

    .card{
        text-align: center;
        display: block;
    }

    .forma1{
        border-left: 17px solid transparent;
        border-top: 15px solid #b41b00;   
    }

    .forma{

        border-left: 24px solid white;
        border-top: 24px solid transparent;
        top: 10%;
        left: 96%;
    
    }
}