.container{
    position: relative;
}

.etiqueta{
    color: rgba(42, 3, 94, 0.795);
    font-weight: bold;
    text-transform: capitalize;
    background: orange;
    padding: 0.4em 1em 0.4em 1em;
    margin-left: -18px;
    position: absolute;
    top: 18%;
    left: 1em;
    box-shadow: -1px -2px 3px #888888;
    -moz-box-shadow: -1px -2px 3px #888888;
    -webkit-box-shadow: -1px -2px 3px #888888;
    transform: rotate(-30deg);
    transform-origin: bottom left;
    z-index: 1;
}

h5{ font-family: 'Teko' !important;  }

.card{
    border: 0;
    box-shadow: -5px -5px 7px #888888;
    margin-top: 3em !important;
    transform: scale(1,1);
    transition-timing-function: ease-out;
    transition-duration: 250ms;
    border: none;
}

.card:hover{
    transform: scale(1.05,1.05);
    transition-timing-function: ease-out;
    transition-duration: 250ms;
}

img{
    border-radius: 5px;
    border: none;
}

@media screen and (min-width: 700px) and (max-width: 950px){
    .etiqueta{
        font-size: 18px;
        padding: 0.5rem 1.8rem;
        transform: rotate(-11deg);
        transform-origin: bottom left;
        margin-top: 0.7rem;
    }

    img{
        height: auto;
        max-width: 70%;
    }   
}

@media screen and (min-width: 600px) and (max-width: 700px){
    

    img{
        height: auto;
        max-width: 65%;
    }   

    .etiqueta{
        font-size: 15px;
        padding: 0.5rem 1.2rem;
        transform: rotate(-10deg);
        transform-origin: bottom left;
    }
}

@media screen and (max-width: 320px){
    
    img{
        height: auto;
        max-width: 90%;
    }   

    .forma{
        border-left: 13px solid transparent;
        border-top: 8px solid rgba(122, 69, 1, 0.877);
    }
    .etiqueta{
        margin-top: 0.5rem;
        padding-top: 0;
        font-size: 10px;
        padding: 0.4rem 0.9rem 0.4rem 0.5rem;
        transform: rotate(-15deg);
        transform-origin: bottom left;
        margin-left: -35px;
    }

    p{
        font-size: 10px;    
        padding: 0;
        margin: 0;
    }

    img{
        margin: 0;
        padding: 0;
    }
}
