<div class="container-sm">
  <h4 class="etiqueta text-dark text-uppercase">Formacion Academica<span class="forma"></span><span class="forma1"></span></h4>
  <div class="card-columns">
    <div class="card text-white" style="max-width: 540px; background-color: #3f4850;" *ngFor='let item of estudios'>
      <img src="{{item.foto}}" class="img-fluid" height="auto" width="355em" alt="">
          <div class="card-body">
            <p class="card-text text-justify">{{item.contenido}}</p>
            <p class="card-text font-weight-bold text-white-50 text-left">{{item.fecha}}</p>
          </div>
    </div>
  </div>
</div>