<div class="container">
    <div class="row">
      <div class="card">
        <ul class="list-group">
          <li class="list-group-item border-white">
            <div class="row row-cols-2">
              <div class="col-md-4 text-center">
                  <img src="../../assets/utn.png" height="180em" width="auto" alt="">
              </div>
              <div class="col-md-8">
                <p class="font-italic m-3">Estudios Universitarios incompletos de la carrera <strong>Ingenieria en Sistemas de Informacion</strong>, aspirando el titulo intermedio de <strong>Analista en Sistemas</strong> de tres años de duracion.<br>
                Los conociminetos abordados son los fundamentales en programacion, algoritmos, estructuras de datos y base de datos.
                </p>
              </div>
            </div>
          </li>
          <li class="list-group-item border-white mt-4">
              <div class="row row-cols-2">
                <div class="col-md-4 text-center">
                  <img src="../../assets/mm.jpg" height="130em" width="auto" alt="">
                </div>
                <div class="col-md-8">
                  <p class="font-italic m-3">
                    Certificacion obtenida en 2019 como <strong>Desarrollador Web</strong>. 
                    con conocimientos de alcance a nivel Front-End, con el objeto de crear aplicaciones web dinámicas y modernas, aplicando las respectivas tecnologias bajo el desarrollo en <strong>Angular</strong>.
                  </p>
                </div>
              </div>
            </li>
        </ul>
      </div>
    </div>
</div>


