<div class="container">
    <div class="row mb-4">
        <ul class="list-group mt-5">
            <li class="list-group-item border-white">
              <div class="row row-cols-2">
                <div class="col-4 text-center">
                    <img src="../../assets/utn.png" height="200em" width="auto" alt="">
                </div>
                <div class="col-8">
                  <p class="font-italic m-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem eaque vitae consequuntur, accusantium porro minus sunt dignissimos aut nemo, earum natus iste laborum dolore necessitatibus ipsa tempora cupiditate repellat corporis?</p>
                  <small></small>
                </div>
              </div>
            </li>
            <li class="list-group-item border-white mt-4">
                <div class="row row-cols-2">
                  <div class="col-4 text-center">
                    <img src="../../assets/mm.jpg" height="150em" width="auto" alt="">
                </div>
                  <div class="col-8">
                    <p class="font-italic ml-4 mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem eaque vitae consequuntur, accusantium porro minus sunt dignissimos aut nemo, earum natus iste laborum dolore necessitatibus ipsa tempora cupiditate repellat corporis?</p>
                    <small></small>
                  </div>
                </div>
              </li>
        </ul>
    </div>
</div>

