.card{
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 3rem;
    margin-right: 7rem;
    margin-left: 7rem;
    border-radius: 0px;
}

.container-fluid{
    background-color:rgb(25, 35, 46);
}

.etiqueta{
    background: #33C4FF;
    padding: 0.5rem 4.5rem;
    margin-bottom: 2rem;
    font-size: 25px;
    margin-left: -64px;
    position: relative;
    width: 42%;
    box-shadow: 0px 7px 12px #2C3E50;
    -moz-box-shadow: 0px 7px 12px #2C3E50;
    -webkit-box-shadow: 0px 7px 12px #2C3E50;
}

.forma{
    width: 0px;
    height: 0px;
    line-height: 0px;
    border-color: black;
    border-left: 26px solid transparent;
    border-top: 17px solid rgb(1, 86, 136);
    position: absolute;
    top: 100%;
    left: 0px;
}

h1{
    font-family: 'Roboto', sans-serif;
    color: #000;
}