.fondo{
    background: url(../../assets/cordoba.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.filtro{
    background: rgb(64, 179, 224,0.7);
    top: 0;
    left: 0;
    height: 10rem;
    position: relative;
}

.nav{
    background-color: rgb(64, 179, 224,0.85);
}

img{
    height: 3rem;
    border-radius: 50%;
    position: absolute;
    margin: auto;
}