<div class="fondo">
    <div class="filtro">
        <div class="nav text-white justify-content-end">
                Contacto<i class="fas fa-phone mx-2"></i>351 6186646
        </div>
        <div class="container">
            <div class="row">
                <div class="col bg-dark"></div>
                <div class="col-3 bg-info" id="logo">
                    <img class="img-fluid float-left" src="../../assets/logo.jpg">
                    <h5>curriculum vitae</h5>  
                </div>
                <div class="col bg-danger"></div>
            </div>
        </div>
    </div>
</div>
