<div class="fondo">
    <div class="filtro">
        <div class="nav justify-content-end">
            <button type="button" class="btn btn-outline-light btn-sm" data-toggle="modal" data-target="#exampleModalCenter">Llamar</button>
        </div>
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col-6" id="logo">
                    <img class="img-fluid float-left" src="../../assets/logo.png">
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
</div>
  
  <!-- Modal -->
  <div class="modal fade bd-example-modal-sm" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-body text-center p-2">
            <a href="https://wa.me/5493516186646" class="text-white text-decoration-none" target="_blank" title="whatsapp">
                <h2 class="display-5 p-3 text-success"><i class="fab fa-whatsapp mr-2"></i>351 6186646</h2>
            </a>
            <button type="button" class="float-right btn btn-outline-success btn-sm m-0" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>