<div id="foto">
    <img src="../../assets/foto.jpg" class="card-img rounded-circle">
</div>

<h4 class="text-white-50 text-capitalize">
    <i class="far fa-hand-point-right"></i> perfil
</h4>
<p class="text-white-50 text-justify m-0">
    hola soy Ezequiel. Desde hace un año me dedico al desarrollo y programacion web Frontend bajo el framework Angular, para proyectos independientes, eligiendo antetodo la excelencia y la innovacion para una mejor experiencia del usuario. 
</p>
<h4 class="text-white-50 text-capitalize">
    <i class="far fa-hand-point-right"></i> datos personales
</h4>
<div class="text-muted">
    <li class="list-group-item bg-dark"><cite class="text-light text-capitalize">nacimiento: 12/11/1985</cite></li>
    <li class="list-group-item bg-dark"><cite class="text-light text-capitalize">nacionalidad: argentino</cite></li>
    <li class="list-group-item bg-dark"><cite class="text-light text-capitalize">ciudad: cordoba</cite></li>
    <li class="list-group-item bg-dark"><cite class="text-light text-capitalize">barrio: arguello norte</cite></li>
    <li class="list-group-item bg-dark"><cite class="text-light text-capitalize">estado civil: soltero</cite></li>
</div>
<br>
<div class="list-group">
    <h4 class="text-white-50 text-capitalize">
        <i class="far fa-hand-point-right"></i> cualidades
    </h4>
    <ul class="text-white-50">
        <li class="list-group-item bg-dark text-capitalize">autodidacta</li>
        <li class="list-group-item bg-dark text-capitalize">tabajo en equipo</li>
        <li class="list-group-item bg-dark text-capitalize">gestion del tiempo</li>
        <li class="list-group-item bg-dark text-capitalize">Responsive Web Design</li>
    </ul>
</div> 
