<h4 class="text-white-50 text-center text-capitalize">perfil</h4>
<p class="text-white-50 p-0">
    hola !! soy Ezequiel Ceballos, Desarrollador Web. Desde hace un año me dedico a la programacion frontend bajo el framework Angular, para proyectos independientes, eligiendo antetodo la excelencia y la innovacion para una mejor experiencia del usuario. 
</p>

<h4 class="text-white-50 text-capitalize text-center mt-4">datos personales</h4>
<div class="text-muted">
    <cite class="text-light text-capitalize">fecha de nacimiento: 12/11/1985</cite>
    <br>
    <cite class="text-light text-capitalize">nacionalidad: argentino</cite>
    <br>
    <cite class="text-light text-capitalize">ciudad: cordoba</cite>
    <br>
    <cite class="text-light text-capitalize">barrio: arguello norte</cite>
    <br>
    <cite class="text-light text-capitalize">estado civil: soltero</cite>
</div>

<h4 class="text-white-50 text-capitalize text-center mt-4">redes sociales</h4>
<div class="">
    <a target="_blank" href="https://www.instagram.com/ezequiel__ceballos/" class="text-danger">
        <i class="fab fa-instagram mr-2 my-1" style="color: brown; font-size: 1.5rem;"></i>
        instagram.com/ezequiel__ceballos
    </a><br>
    <a target="_blank" href="https://github.com/EstebanEzequiel" class="text-light">
        <i class="fab fa-github-square mr-2 my-1" style="color: white; font-size: 1.5rem;"></i>
        github.com/EstebanEzequiel
    </a><br>
    <a target="_blank" href="https://www.facebook.com/e2equ1e1ceballos" class="text-primary">
        <i class="fab fa-facebook-square mr-2 my-1 text-primary" style="font-size: 1.5rem;"></i>
        facebook.com/e2equ1e1ceballos
    </a><br>
    <a target="_blank" href="https://gmail.com/estebanezequielceballos@gmail.com" class="text-secondary">
        <i class="far fa-envelope mr-2 my-1 text-secondary" style="font-size: 1.5rem;"></i>
        estebanezequielceballos@gmail.com
    </a>
</div>