cite{
    color: orange !important;
    font-family: 'Titillium Web';
}

h4{
    margin: 1rem;
    font-weight: bold;
    font-family: 'Titillium Web';
}

p, li {
    font-family: 'Titillium Web';
}

#datos{
    margin-left: 10rem;
}

#foto{ /*contenedor padre para foto, estas propiedades centran la foto*/

    display:flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0;
}

img {
    height: auto;
    width: 10em;    
    margin-bottom: 1em;
}

ul{
    margin: 0;
    padding: 0;
    padding-left: 5vw;
}

@media screen and (max-width: 375px)
{    
    #foto{
        display: block;
    }

    img{
        width: auto;
        max-width: 100%;
    }

    #datos{
        margin-left: 4rem;
    }
    
    ul{
        margin: 0;
        padding: 0;
        padding-left: 5vw;
    }
}