a{
    padding: 6px;
    margin: 4px;
    position: fixed;
    top: 60%;
    right: 0%;
    border-radius: 7px 0px 0px 7px;
    outline:none !important;
    box-shadow: 8px 8px 20px black;
    -moz-box-shadow: 8px 8px 20px black;
    -webkit-box-shadow: 8px 8px 20px black;
    z-index: 1;
}

#numero{

    display: none;
    transition: width .5s;
    font-size: 32px;
}

i{
    margin: 0 !important;
    padding: 0 !important;
    padding-right: 1vh !important;
    padding-left: 1vh !important;
    font-size: auto;
}

span{
    margin: 0 !important;
    padding: 0 !important;
}

h3{
    margin: 0 !important;
    padding: 0 !important;
}