* {
    box-sizing: border-box;
  }

.fondo{
    background: url(../../assets/escritorio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.filtro{
    background: rgba(47, 47, 47, 0.65);
    top: 0;
    left: 0;
    height: 21rem;
    position: relative;
}

img {
    height: 12rem;
    border: 1px solid white;
    position: absolute;
    margin: auto;
    top: 6rem;
    right: 1rem;
}

#nombre{
    top: 8rem;
}

h1 { font-weight: bold;}

h3 { color: turquoise;}

@media screen and (min-width: 700px ) and (max-width: 1000px){

    h1{ font-size: 35px; }
    
    h2 { font-size: 25px;  }

    img { height: auto; right: -1rem; }

    #nombre { left: 2rem; }

}

@media screen and (min-width: 400px ) and (max-width: 700px){

    h1{ font-size: 18px; }
    
    h2 { font-size: 16px;  }

    h3 {  font-size:14px;  }

    img { height: auto; right: -0.5rem; top: 7rem;}

    #nombre { left: 0.5rem;}

}

@media screen and (max-width: 400px){

    h3 {  font-size:12px;  }

    h2 { font-size: 14px;  }
 
    h1 { font-size: 16px; }

    img { height: auto;  right: -0.5rem;}

    #nombre { top: 7rem; left: 0.2rem;}
}