<div class="fondo">
    <div class="filtro">
        <div class="container">
            <div class="row ml-5">
                <div class="col-md-3 text-center float-left">
                    <br><br><br>
                    <img src="../../assets/foto.jpg" width="auto" height="50%" alt="" class="rounded-circle">
                </div>
                <div class="col-md-9 text-white mt-4">
                    <br><br><br>
                    <p class="h1 font-weight-bold">Esteban Ezequiel Ceballos</p> 
                    <p class="h2">Angular Developer</p>
                    <small class="mr-2">
                        <a href="https://accounts.google.com/ServiceLogin/identifier?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=AddSession" target="_blank">
                            <i class="far fa-envelope mr-2" style="font-size: 1rem;"></i>estebanezequielceballos@gmail.com
                        </a>
                    </small>
                    <small class="mr-2">
                        <a href="https://github.com/EstebanEzequiel" target="_blank">
                            <i class="fab fa-github" style="font-size: 1rem;"></i>
                            github.com/EstebanEzequiel
                        </a>
                    </small>
                    <small>
                        <a href="https://www.instagram.com/esteban__ezequiel/" target="_blank">
                            <i class="fab fa-instagram" style="font-size: 1rem;"></i>
                            instagram.com/esteban__ezequiel
                        </a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>



