<div class="fondo">
    <div class="filtro">
        <div class="container-sm">
            <div class="row row-cols-2">
                <div class="col-3 float-left" id="foto">
                    <img src="../../assets/foto.jpg" class="img-fluid rounded-circle">
                </div>
                <div class="col-9 text-white" id="nombre">
                    <h1 class="display-5 font-weight-bold">Esteban Ezequiel Ceballos</h1> 
                    <h2 class="text-warning text-capitalize">Frontend Developer</h2>
                    <p class="text-info">Angular</p>
                </div>
            </div>
        </div>
    </div>
</div>
