<div class="fondo">
    <div class="filtro">
        <div class="container-sm">
            <div class="row row-cols-1">
                <div class="col text-white" id="texto">
                    <h1 class="display-4 font-weight-bold">Esteban Ezequiel Ceballos</h1> 
                    <h2 class="text-white-50 font-weight-bold">Frontend Developer</h2>
                    <br>
                    <h5>
                         Bienvenidos a mi Blog .. el mismo es un despliegue breve de mi hoja de vida junto a las competencias propias del desarrollo <strong>Frontend</strong> que adquiri. Desde ya  agradezco tu visita y no  dudes en contactarme ... Saludos
                    </h5>
                </div>
            </div>
        </div>
        </div>
</div>