.fondo{
    background: url(../../assets/escritorio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.filtro{
    background: rgba(47, 47, 47, 0.6);
    height: 30rem;
    display: flex; /*filtro padre de row, sus propiedades centran el div row*/
    align-items: flex-end;
}

.row{
    margin: 0 auto;
}

#angular{ text-align: right; }

#texto{
    text-align: right;
    padding: 0px;
    padding-bottom: 2em;
}

h5 {
    font-size: 1.5rem;
    font-family: 'Titillium Web', !important;
    text-align: justify;
}

h1{
    font-family: 'Nunito';
    color: turquoise;
    text-align: center;
}

h2{
    text-align: center;
}

@media screen and (min-width: 375px ) and (max-width: 425px){

    h1{
        font-size: 33px;
    }

    h5{
        font-size: 19px;
        margin: 0;
    }
}

@media screen and (max-width: 375px){
    
    .filtro { height: 16rem;}
    
    #texto{ 
        
        padding-bottom: 0.5em; 
        padding-left: 10px;
        padding-right: 10px;
    }

    h1 { 
        font-size: 20px; 
        margin: 0;
        padding: 0;
        text-align: center;
    }

    h2 { 
        font-size: 16px;  
        margin: 0;
        padding: 0;
        text-align: center;
    }

    h5 {
        font-size: 14px;
        font-family: initial;
        margin: 0;
    }
}