.fondo{
    background: url(../../assets/escritorio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.filtro{
    background: rgb(79, 111, 133,0.7);
    top: 0;
    left: 0;
    height: 24rem;
}

small a{
    color: white;
    font-size: 0.8rem;
    text-decoration: none;
}

i{  margin-top: 1rem;}

img {
    height: 75%;
    width: auto;
    margin: auto;
}

#foto{
    margin-top: 11rem;
}

#nombre{
    margin:auto;
}

@media screen and (max-width: 700px){

    p{  font-size:16px;  }

    h1{ font-size: 20px; }

    small a {  font-size: 10px;  }

    i{  font-size: 10px;   }
}
    
@media screen and (max-width: 320px){

    p{  font-size:12px;  }
 
    h1{ font-size: 16px; }

    small a {  font-size: 10px; }

    i{ font-size: 0.2rem; }
}

@media screen and (min-width: 700px){

    h1{ font-size: 35px; }
}